
<div>
    <h2><span data-translate="<%=angularAppName%>.<%= tennantNameLowerFirst %>.detail.title"><%= tennantNameUpperFirst %></span> {{vm.<%= tennantNameLowerFirst %>.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="<%=angularAppName%>.<%= tennantNameLowerFirst %>.name">Name</span></dt>
        <dd>
            <span>{{vm.<%= tennantNameLowerFirst %>.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="<%= tennantNameLowerFirst %>-detail.edit({id:vm.<%= tennantNameLowerFirst %>.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
