<div class="admin-list">
    <jhi-alert></jhi-alert>
    <div class="row header-row">
        <div class="col-xs-12">
            <h1 data-translate="<%=angularAppName%>.<%= tennantNameLowerFirst %>.home.title"><%= tennantNamePluralUpperFirst %></h1>
            <button class="btn btn-primary pull-right" ui-sref="<%= tennantNameLowerFirst %>.new"><span class="glyphicon glyphicon-plus"></span> <span data-translate="<%=angularAppName%>.<%= tennantNameLowerFirst %>.home.createLabel">Create new <%= tennantNameUpperFirst %></span></button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="<%=angularAppName%>.<%= tennantNameLowerFirst %>.name">Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="<%= tennantNameLowerFirst %> in vm.<%= tennantNamePluralLowerFirst %> track by <%= tennantNameLowerFirst %>.id">
                    <td>{{<%= tennantNameLowerFirst %>.name}}</td>
                    <td class="text-right">
                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                            <button type="submit"
                                    ui-sref="<%= tennantNameLowerFirst %>.edit({id:<%= tennantNameLowerFirst %>.id})"
                                    class="btn btn-default btn-sm">
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
                                <span class="caret"></span><span class="sr-only">Additional Actions</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right draft-table-dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li role="menuitem"><a ui-sref="<%= tennantNameLowerFirst %>.delete({id:<%= tennantNameLowerFirst %>.id})" data-translate="entity.action.delete">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
